body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #a5a4a4;
  color: white;
}

.present {
  background-color: #f1a533;
  color: white;
}

.future {
  background-color: #77dd7f;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.deletesched {  
  font-size: 13pt;
  color: white;
  background-color: #06aed5;
  border-radius: 5px;
  padding: 0.5% 2%;
  border: none;
  margin: 1%;
  margin-left: 40%;
} 

textarea{
  width: 100%;
  height: 100%;
  border: none;
}

.deletesched:hover {
  background-color: #07768f;
  font-size: 110%;
}